body {
  margin: 0;
}

/* Define a keyframe animation for spinning */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Class to apply the animation */
.icon-spin {
  animation: spin 2s linear infinite; /* Adjust timing as needed */
}

